.rightTab
{
    margin-top: 20px;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.container-fluid.full-width {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
    overflow-x: hidden;
    flex: 1 0 auto;
}

.sectionsList {
  padding-left: 15px;

  .section {
    margin-left: 0px;
    margin-right: 15px;
    outline: solid 1px black;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
  }

  .section:hover {
    background-color: rgba(0,0,0,0.1);
  }
}

.selectedSection {
  border: 2px solid green;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.criteriaBlock {
  margin-bottom: 4em;
}

.sections-hidden {
  .sectionsList {
    display: none;
  }
}

.divider
{
    overflow: hidden;
}
.left
{
    float:left;
}
.right
{
    float:right;
}

.content-divider-right
{
    border-right: 1px dashed #333;
}

.classlist-el {
  margin-right: -4px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.numberCircle {
    border-radius: 50%;
    width: 54px; 
    font-size: 20px;
    border: 2px solid #666;
}
.numberCircle span {
    text-align: center;
    line-height: 48px;
    display: block;
}

.hoverButton
{
  margin-top: 1em;
  margin-right: 5px;
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.6em;
  height: 40px;
}

.numberCircle:hover {
    background-color: #48D3FE;
}

.selected {
    background-color: #7834FE !important;
}

#loading {
	background:rgba(26,178,255,0.5);
  height: 900px;
  width: 100%;
}

.form-control:focus {
  box-shadow: none;
}

.moveDown
{
    margin-left: -1px;
}

.buttonContainer
{
    width: 100%;
}

.buttonChild
{
    width: 50%;
}

/* Flaired edges, by Tomas Theunissen */ 
hr.style-seven {
    height: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-bottom: 0px;
}

hr.style-seven:before { 
    /* Not really supposed to work, but does */ 
    display: block;
    content: "";
    height: 10px;
    margin-top: -11px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.fc-today
{
  background-color:inherit !important;
}
