.rightTab
{
    margin-top: 20px;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.container-fluid.full-width {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
    overflow-x: hidden;
    flex: 1 0 auto;
}

.divider
{
    overflow: hidden;
}
.left
{
    float:left;
}
.right
{
    float:right;
}

.content-divider-right
{
    border-right: 1px dashed #333;
}

.classlist-el {
  margin-right: -4px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.numberCircle {
    border-radius: 50%;
    width: 54px; 
    font-size: 20px;
    border: 2px solid #666;
}
.numberCircle span {
    text-align: center;
    line-height: 48px;
    display: block;
}

.hoverButton
{
  margin-top: 1em;
  margin-right: 5px;
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.6em;
  height: 40px;
}

.numberCircle:hover {
    background-color: #48D3FE;
}

.selected {
    background-color: #7834FE !important;
}

#loading {
	background:rgba(26,178,255,0.5);
  height: 900px;
  width: 100%;
}

.form-control:focus {
  box-shadow: none;
}

.moveDown
{
    margin-left: -1px;
}

.buttonContainer
{
    width: 100%;
}

.buttonChild
{
    width: 50%;
}

/* Flaired edges, by Tomas Theunissen */ 
hr.style-seven {
    height: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-bottom: 0px;
}

hr.style-seven:before { 
    /* Not really supposed to work, but does */ 
    display: block;
    content: "";
    height: 10px;
    margin-top: -11px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.fc-today
{
  background-color:inherit !important;
}
