<footer>
    <div class="container">
        Alexander Parent - aparen01@mail.uoguelph.ca - Guelph Scheduler 3.0 BETA © 2018 - <a href="https://github.com/iam4722202468/GuelphScheduler2/">Code</a>
    </div>
</footer>
