    <div id="courseslots" style="position: relative">
        <table id="gridlayout" border="0" cellpadding="0" cellspacing="0">
			<colgroup>
				<col class="time" />
				<col class="day" />
				<col class="day" />
				<col class="day" />
				<col class="day" />
				<col class="day" />
			</colgroup>
			<thead>
				<tr>
					<th><div class="time"></div></th>
					<th><div class="grid" id="startY">Monday</div></th>
					<th><div class="grid">Tuesday</div></th>
					<th><div class="grid">Wednesday</div></th>
					<th><div class="grid">Thursday</div></th>
					<th><div class="grid">Friday</div></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><div class="time" id="startX">08:00am</div></td>
					<td><div class="grid" id="findHeightGrid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">08:30am</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">09:00am</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">09:30am</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">10:00am</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">10:30am</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">11:00am</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">11:30am</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">12:00pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">12:30pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">01:00pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">01:30pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">02:00pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">02:30pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">03:00pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">03:30pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">04:00pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">04:30pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">05:00pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">05:30pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">06:00pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">06:30pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">07:00pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">07:30pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">08:00pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">08:30pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">09:00pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
				<tr>
					<td><div class="time">09:30pm</div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
					<td><div class="grid"></div></td>
				</tr>
			</tbody>
		</table>
        </div>
